<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996094710867-1014ttqpo5rthc80h2bulni1soevqfbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996094710867-1014ttqpo5rthc80h2bulni1soevqfbt</string>
	<key>API_KEY</key>
	<string>AIzaSyA_zT2MUIReDuYopeQwY33MqAsG0E2whsc</string>
	<key>GCM_SENDER_ID</key>
	<string>996094710867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testingnote</string>
	<key>PROJECT_ID</key>
	<string>not-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>not-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996094710867:ios:2f6a0fd5f63b9a38c0a2a6</string>
</dict>
</plist>